In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import datetime
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint
from datetime import timezone

# 1. EXTRACT

## Hurricane Track Data from NOAA

In [2]:
# Hurricane DataFrame of all Hurricanes that passed through Orlando, FL
hurricane_df = pd.read_csv("databootcamp/Hurricane-ETL-Project/Data/storm_data.csv")
hurricane_df.head()

,STORM NAME & YEAR,DATE RANGE,MAX WIND SPEED,MIN PRESSURE,MAX CATEGORY
0,IRMA 2017,"Aug 30, 2017 to Sep 13, 2017",155,914,H5
1,EMILY 2017,"Jul 30, 2017 to Aug 02, 2017",50,1001,TS
2,MATTHEW 2016,"Sep 28, 2016 to Oct 10, 2016",145,934,H5
3,JULIA 2016,"Sep 13, 2016 to Sep 21, 2016",45,1007,TS
4,DEBBY 2012,"Jun 23, 2012 to Jun 27, 2012",55,990,TS

In [3]:
start_dates = []
unix_start_dates = []
unix_end_dates = []
end_dates = []
unix_compliant = []

months = [("Jan", 1), ("Feb", 2), ("Mar", 3), 
          ("Apr", 4), ("May", 5), ("Jun", 6), 
          ("Jul", 7), ("Aug", 8), ("Sep", 9), 
          ("Oct", 10), ("Nov", 11), ("Dec", 12)]

for date in hurricane_df["DATE RANGE"]:
    start_dates.append(date[0:12])
    end_dates.append(date[16:])

for date in start_dates:
    year = int(date[-4:])
    month = date[0:3]
    count = 0
    for x in months:
        if month == months[count][0]:
            month = months[count][1]
        else:
            count += 1
    day = int(date[4:6])
    dt = datetime.datetime(year, month, day)
    timestamp = dt.replace(tzinfo=timezone.utc).timestamp()
    unix_start_dates.append(timestamp)
    
    if year >= 1970:
        unix_compliant.append("True")
    else:
        unix_compliant.append("False")
        

for date in end_dates:
    year = int(date[-4:])
    month = date[0:3]
    count = 0
    for x in months:
        if month == months[count][0]:
            month = months[count][1]
        else:
            count += 1
    day = int(date[4:6])
    dt = datetime.datetime(year, month, day)
    timestamp = dt.replace(tzinfo=timezone.utc).timestamp()
    unix_end_dates.append(timestamp)
    #print(f"The timestamp for the date {month}-{day}-{year} is: {timestamp}")

In [4]:
# Convert Date Range column to UNIX Timestamps
hurricane_df["START DATE"] = unix_start_dates
hurricane_df["END DATE"] = unix_end_dates
hurricane_df["UNIX COMPLIANT"] = unix_compliant

In [5]:
hurricane_df = hurricane_df[hurricane_df["UNIX COMPLIANT"] == "True"]
hurricane_df = hurricane_df[["STORM NAME & YEAR", "DATE RANGE", "START DATE", "END DATE", "MAX WIND SPEED", "MAX CATEGORY"]]
hurricane_df

,STORM NAME & YEAR,DATE RANGE,START DATE,END DATE,MAX WIND SPEED,MAX CATEGORY
0,IRMA 2017,"Aug 30, 2017 to Sep 13, 2017",1.504051e+09,1.505261e+09,155,H5
1,EMILY 2017,"Jul 30, 2017 to Aug 02, 2017",1.501373e+09,1.501632e+09,50,TS
2,MATTHEW 2016,"Sep 28, 2016 to Oct 10, 2016",1.475021e+09,1.476058e+09,145,H5
3,JULIA 2016,"Sep 13, 2016 to Sep 21, 2016",1.473725e+09,1.474416e+09,45,TS
4,DEBBY 2012,"Jun 23, 2012 to Jun 27, 2012",1.340410e+09,1.340755e+09,55,TS
5,FAY 2008,"Aug 15, 2008 to Aug 28, 2008",1.218758e+09,1.219882e+09,60,TS
6,BARRY 2007,"May 31, 2007 to Jun 05, 2007",1.180570e+09,1.181002e+09,50,TS
7,ERNESTO 2006,"Aug 24, 2006 to Sep 04, 2006",1.156378e+09,1.157328e+09,65,H1
8,TAMMY 2005,"Oct 05, 2005 to Oct 07, 2005",1.128470e+09,1.128643e+09,45,TS
9,JEANNE 2004,"Sep 13, 2004 to Sep 29, 2004",1.095034e+09,1.096416e+09,105,H3
10,FRANCES 2004,"Aug 25, 2004 to Sep 10, 2004",1.093392e+09,1.094774e+09,125,H4
11,CHARLEY 2004,"Aug 09, 2004 to Aug 15, 2004",1.092010e+09,1.092528e+09,130,H4
12,HENRI 2003,"Sep 03, 2003 to Sep 08, 2003",1.062547e+09,1.062979e+09,50,TS
13,EDOUARD 2002,"Sep 01, 2002 to Sep 06, 2002",1.030838e+09,1.031270e+09,55,TS
14,GABRIELLE 2001,"Sep 11, 2001 to Sep 21, 2001",1.000166e+09,1.001030e+09,70,H1
15,LESLIE 2000,"Oct 04, 2000 to Oct 10, 2000",9.706176e+08,9.711360e+08,40,TS
16,JERRY 1995,"Aug 22, 1995 to Aug 28, 1995",8.090496e+08,8.095680e+08,35,TS
17,ERIN 1995,"Jul 31, 1995 to Aug 06, 1995",8.071488e+08,8.076672e+08,85,H2
18,GORDON 1994,"Nov 08, 1994 to Nov 21, 1994",7.842528e+08,7.853760e+08,75,H1
19,ANA 1991,"Jun 29, 1991 to Jul 05, 1991",6.781536e+08,6.786720e+08,45,TS
20,KEITH 1988,"Nov 17, 1988 to Nov 26, 1988",5.957280e+08,5.965056e+08,60,TS
21,CHRIS 1988,"Aug 21, 1988 to Aug 30, 1988",5.881248e+08,5.889024e+08,45,TS
22,UNNAMED 1987,"Oct 31, 1987 to Nov 04, 1987",5.626368e+08,5.629824e+08,30,TD
23,BOB 1985,"Jul 21, 1985 to Jul 26, 1985",4.907520e+08,4.911840e+08,65,H1
24,ISIDORE 1984,"Sep 25, 1984 to Oct 01, 1984",4.649184e+08,4.654368e+08,50,TS
25,BARRY 1983,"Aug 23, 1983 to Aug 29, 1983",4.304448e+08,4.309632e+08,70,H1
26,UNNAMED 1982,"Jun 18, 1982 to Jun 20, 1982",3.932064e+08,3.933792e+08,60,TS
27,DENNIS 1981,"Aug 07, 1981 to Aug 22, 1981",3.659904e+08,3.672864e+08,70,H1
28,UNNAMED 1981,"Jul 02, 1981 to Jul 04, 1981",3.628800e+08,3.630528e+08,30,TD
29,UNNAMED 1980,"Nov 12, 1980 to Nov 18, 1980",3.428352e+08,3.433536e+08,30,TD
30,UNNAMED 1980,"Jul 17, 1980 to Jul 21, 1980",3.326400e+08,3.329856e+08,25,TD
31,DAVID 1979,"Aug 25, 1979 to Sep 08, 1979",3.043872e+08,3.055968e+08,150,H5
32,UNNAMED 1976,"Sep 13, 1976 to Sep 17, 1976",2.114208e+08,2.117664e+08,40,TS
33,UNNAMED 1974,"Jun 24, 1974 to Jun 26, 1974",1.412640e+08,1.414368e+08,55,TS
34,UNNAMED 1971,"Aug 12, 1971 to Aug 16, 1971",5.080320e+07,5.114880e+07,25,TD
35,UNNAMED 1970,"Aug 05, 1970 to Aug 07, 1970",1.866240e+07,1.883520e+07,25,TD

## Weather Data from OpenWeather API

# 2. TRANSFORM

# 3. LOAD