In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

# 1. EXTRACT

## Hurricane Track Data from NOAA

In [2]:
# Hurricane DataFrame of all Hurricanes that passed through Orlando, FL
hurricane_df = pd.read_csv("databootcamp/Hurricane-ETL-Project/Data/storm_data.csv")
hurricane_df.head()

,STORM NAME & YEAR,DATE RANGE,MAX WIND SPEED,MIN PRESSURE,MAX CATEGORY
0,IRMA 2017,"Aug 30, 2017 to Sep 13, 2017",155,914,H5
1,EMILY 2017,"Jul 30, 2017 to Aug 02, 2017",50,1001,TS
2,MATTHEW 2016,"Sep 28, 2016 to Oct 10, 2016",145,934,H5
3,JULIA 2016,"Sep 13, 2016 to Sep 21, 2016",45,1007,TS
4,DEBBY 2012,"Jun 23, 2012 to Jun 27, 2012",55,990,TS

## Weather Data from OpenWeather API

# 2. TRANSFORM

# 3. LOAD